<%- contentFor('body') %>

<div class="row">
    <div class="col-md-12">
        <br>
        <h1>Calcular Valor do Frete</h1>                     
    </div>
</div>

<div class="row">
    <div class="col-md-6">
       
        
        <form action="" method="POST">
            <label for="cep-origem"><b>Origem:</b></label>
            <input type="text" name="cep-origem" class="form-control" placeholder="Informe o CEP">
            <br>
            <label for="cep-destino"><b>Destino:</b></label>
            <input type="text" name="cep-destino" class="form-control" placeholder="Informe o CEP">
            <br>
            <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
    </div>
    <div class="col-md-6">
        
    </div>
    
</div>