
<%- contentFor('body') %>

<div class="row">
    <div class="col-md-12">
        <h1>Fretes</h1>
        <p>
            Essa aplicação tem o objetivo de calcular o valor do frete de acordo com o CEP, para isso foi utilizado o 
            calculador de preços e prazos de encomendas dos correios e o protocolo SOAP para utilizar tal serviço.
        </p>               
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <img width="300px" src="https://http2.mlstatic.com/modulo-correios-para-opencart-todas-as-versoes-D_NQ_NP_764447-MLB27327228316_052018-F.jpg" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <br>
            <img width="300px" src="https://expressjs.com/images/express-facebook-share.png" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <img width="300px"  src="https://process.filestackapi.com/cache=expiry:max/resize=width:1050/compress/TyzZKw86QzSElYK6bfXK" alt="">
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            
        </div>
    </div>
    <div class="col-md-4">
        <img width="300px" src="https://www.opus-software.com.br/wp-content/uploads/2018/09/nodejs.jpg" alt="">
    </div>
    <div class="col-md-4">
        
    </div>
    </div>
       
